.wrap-user-cart-page .cart-empty {
    font-size: 30px;
    font-family: sans-serif;
}

.wrap-user-cart-page .buy-now {
    font-size: 30px;
    color: #2E64FE;
    font-weight: 700;
    text-transform: uppercase;
}

.wrap-user-cart-page .btn {
    padding: 15px !important;
    background-color: #ff0000;
}

.wrap-user-cart-page .button-left {
    float: left;
    display: inline-block;
    width: 84.7%;
}

.wrap-user-cart-page .delete-all {
    background-color: #ff0000;
    border: 0;
    font-weight: 600;
}

.wrap-user-cart-page .delete-all:hover {
    background-color: #fff;
    color: #ff0000 !important;
    border: 1px solid #ff0000 !important;
}

.wrap-user-cart-page .delete-all:hover {
    color: #fff;
}

.wrap-user-cart-page .td-image {
    min-width: 150px;
}

.wrap-user-cart-page .td-name {
    width: 380px;
}

.wrap-user-cart-page .td-quantity {
    text-align: center;
}

.wrap-user-cart-page .td-color {
text-align: center;
min-width: 100px;
}

.wrap-user-cart-page td .image {
    max-width: 100px;
    height: 100px;
}

.wrap-user-cart-page .total-payment {
    text-align: right;
    font-size: 18px;
    font-weight: 600;
}

.wrap-user-cart-page .price {
    text-align: right;
    font-weight: 500;
}

.wrap-user-cart-page .price-payment {
    color: #ff0000;
    text-align: right;
    font-weight: 600;
    font-size: 18px;
}


/*button change quantity*/
.wrap-user-cart-page .product_count {
    display: inline-block;
    margin-bottom: 24px;
    overflow: hidden;
}

.wrap-user-cart-page .product_count input {
    width: 80px !important;
    border: 1px solid #eeeeee;
    border-radius: 3px;
}
/*end button change quantity*/

.wrap-user-cart-page #btn-update {
    padding: 5px 10px;
    font-size: 12px;
    text-transform: none;
}

.wrap-user-cart-page #btn-update:hover {
    cursor: pointer;
    font-weight: 600;
}
