.wrap-user-forgot-pasword-page .back-login {
    display: inline;
    color: #777777;
    float: right;
}

.wrap-user-forgot-pasword-page .custom a:hover {
    color: blue;
}

.wrap-user-forgot-pasword-page #btn-submit {
    color: #fff;
    background-color: #2577fd;
    font-weight: 600;
}

.wrap-user-forgot-pasword-page #btn-submit:hover {
    cursor: pointer;
    color: #2577fd;
    background-color: #fff;
}
