.wrap-user-order-history-page .choose-list {
    margin-bottom: 30px;
}

.wrap-user-order-history-page .badge {
    min-width: 73px;
    min-height: 20px;
    line-height: 20px;
    border-radius: 5px;
}

.wrap-user-order-history-page .btn_3 {
    padding: 5px 15px;
    text-transform: none !important;
    font-size: 14px;
}

.wrap-user-order-history-page .btn {
    padding: 13px 10px;
    text-transform: none;
    font-size: 14px;
    background-color: #808080;
}

.wrap-user-order-history-page .paginate {
    margin-top: 20px;
    float: right;
}
