.wrap-user-product-detail-page .imgage-product {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 65%;
    height: 310px;
}

.wrap-user-product-detail-page .list-image {
    display: block;
    margin: 0 auto;
    width: 90%;
    height: 97px;
}

.wrap-user-product-detail-page .list-image:hover {
    cursor: pointer;
    border: 1px solid #0000FF;
}

.wrap-user-product-detail-page .group-info {
    height: 45px;
}

.wrap-user-product-detail-page .text {
    display: inline-block;
    float: left;
    width: 25%;
    color: #757575;
}

.wrap-user-product-detail-page .group-info .content {
    display: inline-block;
    float: left;
    width: 75%;
}

.wrap-user-product-detail-page .wrap-price {
    margin-bottom: 40px;
}

.wrap-user-product-detail-page .wrap-color {
    margin: 20px 90px;
}

.wrap-user-product-detail-page .original-price {
    text-decoration: line-through;
    font-weight: 600;
    font-size: 16px;
}

.wrap-user-product-detail-page .current-price {
    margin-left: 25px;
    color: #d0011b;
    font-size: 22px;
    font-weight: 700;
}

.wrap-user-product-detail-page .color {
    display: inline-block;
    border: 1px solid #0000FF;
    color: #0000FF;
    width: 90px;
    height: 40px;
    text-align: center;
    padding-top: 7px;
    font-weight: 500;
    letter-spacing: 1px;
}

.wrap-user-product-detail-page .color:hover {
    cursor: pointer;
    background-color: #58ACFA;
    color: #fff;
}

.wrap-user-product-detail-page .hide-quantity {
    display: none;
}

.wrap-user-product-detail-page .buy-now {
    background-color: #58ACFA;
    color: #fff;
}

.wrap-user-product-detail-page .buy-now:hover {
    background-color: #0000ff;
}

.wrap-user-product-detail-page .group-info .name {
    font-size: 18px;
    font-weight: 600;
}
