.wrap-admin-list-orders-page .badge {
    min-width: 73px;
    min-height: 20px;
    line-height: 20px;
    border-radius: 5px;
}

.wrap-admin-list-orders-page #message-status {
    margin-top: 35px;
}
