/*.wrap-admin-list-product-detail-page .nav {
    margin-left: 15px;
}

.wrap-admin-list-product-detail-page .tab-content {
    margin-top: 30px;
}*/

.wrap-admin-list-product-detail-page .group-product {
    min-height: 40px;
    font-size: 18px;
}

.wrap-admin-list-product-detail-page .group-product .product-title {
    display: inline-block;
    color: #848484;
    float: left;
    width: 25%;
}

.wrap-admin-list-product-detail-page .group-product .product-content {
    display: inline-block;
    float: left;
    width: 75%;
    color: #000;
    font-weight: 500;
}

.wrap-admin-list-product-detail-page #btn-support {
    margin-bottom: 20px !important;
}

.wrap-admin-list-product-detail-page #information {
    margin-bottom: 30px;
}
