.wrap-admin-list-product-detail-page .nav {
    margin-left: 15px;
}

.wrap-admin-list-product-detail-page .tab-content {
    margin-top: 30px;
}

.wrap-admin-list-product-detail-page .group-product {
    min-height: 40px;
    font-size: 18px;
}

.wrap-admin-list-product-detail-page .group-product .product-title {
    display: inline-block;
    color: #848484;
    float: left;
    width: 25%;
}

.wrap-admin-list-product-detail-page .group-product .product-content {
    display: inline-block;
    float: left;
    width: 75%;
    color: #000;
    font-weight: 500;
}

.wrap-admin-list-product-detail-page #original {
    text-decoration: line-through;
}

.wrap-admin-list-product-detail-page #current {
    color: #ff0000;
    font-weight: 600;
}

.wrap-admin-list-product-detail-page #img-product-detail {
    width: 200px;
    height: 200px;
}

.wrap-admin-list-product-detail-page #btn-support {
    margin-top: 10px !important;
}
