.wrap-admin-sale-detail-page .group-sale {
    min-height: 40px;
    font-size: 18px;
}

.wrap-admin-sale-detail-page .group-sale .title {
    display: inline-block;
    color: #848484;
    float: left;
    width: 25%;
}

.wrap-admin-sale-detail-page .group-sale .content {
    display: inline-block;
    float: left;
    width: 50%;
    color: #000;
}
