.wrap-admin-user-detail-page #btn-back {
    margin-bottom: 30px;
}

.wrap-admin-user-detail-page .group {
    min-height: 40px;
    font-size: 18px;
}

.wrap-admin-user-detail-page .group .title {
    display: inline-block;
    color: #848484;
    float: left;
    width: 33%;
}

.wrap-admin-user-detail-page .group .content {
    display: inline-block;
    float: left;
    width: 67%;
    color: #000;
    font-weight: 500;
}

.wrap-admin-user-detail-page img {
    width: 250px;
    height: 250px;
}
